<div class="my-8" id="adversarial-2048">
	<a href="https://www.adversarial2048.com/"><img class="block max-h-72 mx-auto aspect-square" src="adversarial-2048.png" alt="Adversarial 2048 Image"></a>
	<h3 class="mb-2 mt-3">
		<a href="https://www.adversarial2048.com/" class="text-gray-900 text-2xl hover:text-themeblue">Adversarial 2048</a>
	</h3>

	<div class="">
		<span class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm align-middle inline-block mb-1 mr-2">Rust
		</span><span class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm align-middle inline-block mb-1 mr-2">Web Assembly
		</span><span class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm align-middle inline-block mb-1 mr-2">Javascript</span>
	</div>
	<div>
		<p>A spinoff of <a href="https://play2048.co/">2048</a>, modified to be as hard as possible.</p>
	</div>
	<div class="-ml-2">
		<a href="https://www.adversarial2048.com/" class="p-2 inline-block"><i class="fa-solid fa-arrow-up-right-from-square text-xl"></i>
		</a><a href="https://github.com/Plasma-Vortex/adversarial-2048" class="p-2 inline-block"><i class="fa-brands fa-github text-xl"></i></a>
	</div>
</div>
